<div class="row container p-2 m-2">
  <h1>New Bookmark for <%= @list.name %></h1>

  <div class="card col-6 p-2 m-2">
    <%= simple_form_for [ @list, @bookmark ] do |f| %>
      <%= f.association :movie, collection: @movies, value_method: :id %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
  </div>

  <div class="col-6 p-2 m-2">
    <%= link_to "Go back to '#{@list.name}' list...", list_path(@list), class: "btn btn-primary m-2" %>
  </div>

</div>
